/* hero */
.about-section{
    background: url(images/hero.jpg) no-repeat left;
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
	  color: black;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 22px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
		.display-4{
	font-size: 200%;
}
}
/* hero ends here */
/* section2 */
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome h1{
	color: black;
}
.welcome hr{
  border-top: 2px solid #608FDDff;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
/* section-2-cards */
.wrapper {
padding-top: 50px;
padding-bottom: 100px;
}
.card-img-top {
box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.card-body{
    text-align: center;
    box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5)
}
.card-body h6 {
font-size: 14px;
text-transform: uppercase;
color: deeppink;
}
.card-hr{
  border-top: 2px solid #608FDDff;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.card-title {
text-transform: uppercase;
font-weight: bold;
font-size: 24px;
}

.socials a {
width: 40px;
height: 40px;
display: inline-block;
border-radius: 50%;
margin: 0 5px;
}
.socials a i {
color: #fff;
padding: 12px 0;
}
.socials a:nth-child(1) {
background: #3b5998;
}.socials a:nth-child(2) {
background: #ff0000;
}.socials a:nth-child(3) {
background: #007bb5;
}.socials a:nth-child(4) {
background: #ea4c89;
}

@media (max-width: 800px){
    .mx-30{
        margin-bottom: 30px;
    }
}

/* section2 ends here*/
/* section3*/
.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
	padding-right: 0px;
padding-left: 0px;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}
@supports (display: grid) {
	.gallery {

		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));

	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
/* section3 ends here*/
/*TIMELINE*/
.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}
.bg-soft-primary {
    background-color: rgba(64,144,203,.3)!important;
}
.bg-soft-success {
    background-color: rgba(71,189,154,.3)!important;
}
.bg-soft-danger {
    background-color: rgba(231,76,94,.3)!important;
}
.bg-soft-warning {
    background-color: rgba(249,213,112,.3)!important;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}
/*TIMELINE ends here*/
#timeline-section{
	background-color: #F3F3F3;
}
.about-container {
	max-width: 1000px;
}
.main-head {
	color: black;
	margin-bottom: 60px;
	margin-left: 50px;
}
.nav-link {
	border: none !important;
	padding: 0.5rem 2rem;
}
.nav-link.active {
	border-bottom: 3px solid #6190dd !important;
}
.tab-pane {
	padding-top: 50px;
}

#nav-profile,
#nav-contact {
	margin-left: 30px;
	margin-right: 30px;
	font-size: 18px;
}

#nav-home.active {
	display: flex !important;
	align-items: center;
}
.about-acm-text {
	font-size: 18px;
	padding-right: 30px;
}
.about-acm-img-small {
	width: 40%;
}
.about-acm-img-small-1 {
	margin-right: 10%;
}
.about-acm-img-large {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

.faq:not(:last-child) {
	margin-bottom: 50px;
}
.faq-question {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 6px;
}
.faq-answer {
	font-size: 16px;
	font-weight: 300;
	color: rgb(100, 100, 100);
}
.join-heading-secondary {
	display: block;
	text-align: center;
}
.join-heading-primary {
	font-weight: 400;
	letter-spacing: 3px;
	word-spacing: 10px;
	font-size: 40px;
}
.contact {
	background-image: linear-gradient(
			105deg,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(255, 255, 255, 0.9) 60%,
			transparent 60%
		),
		url(images/back.jpg);
	border-radius: 3px;
	background-size: 100%;
	box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
	padding: 30px 40px;
}
.contact-heading {
	margin-bottom: 30px;
	font-weight: 300;
}

.contact-form {
	width: 60%;
}
.form__label{
  font-weight: 400;
}
.form-group:not(:last-child) {
	margin-bottom: 20px;
}

.form-control {
	font-size: 15px;
	padding: 15px 20px;
	border-radius: 2px;
	color: inherit;
	background-color: rgba(255, 255, 255, 0.7);
	border: none;
	font-family: inherit;
	border-bottom: 3px solid transparent;
	width: 90%;
	display: block;
	transition: all .3s;
}

.form-control:focus {
	outline: none !important;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1) !important;
	border-bottom: 3px solid #55c57a !important;
}
.form-control:focus:invalid {
	border-bottom: 3px solid #ff7730 !important;
}
.form-control::-webkit-input-placeholder {
	color: #999 !important;
}

.form-control:placeholder-shown + .form__label {
	opacity: 0;
	visibility: hidden;
}
.contact-button{
  background-color: #5d8ddc;
  padding: 10px 25px;
  border-radius: 100px;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-size: 14px;
}

/*Small Phones from 0 to 480px*/
@media only screen and (max-width: 480px){
.foot-links
{
padding: 0 10px;
}
.foot-links1
{
padding: 0 10px;
}
}
