* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0;
}

.row
{
  max-width: 1140px;
  margin: 0 auto;
}

.row>img
{
  height:250px;
  max-width:300px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  border-radius: 20%;
  padding:5px;
  margin: auto;
  margin-bottom: 11px;
}
.row>img:hover
  {
    transform: scale(1.07);  
    border-radius: 20%;
  }

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
  border-right: 2px solid lightblue;
}
.box > i {
  text-align: center;
}
.box > h3 {
  text-align: center;
}
.box > p {
  padding: 3px;
	text-align: justify;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  letter-spacing: 1px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
h2::after {
  display: block;
  height: 2px;
  width: 100px;
  content: " ";
  margin: 0 auto;
  background-color: #5d8ddc;
  margin-top: 30px;
}


.long-copy {
  line-height: 145%;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}
.box1 p {
  font-size: 90%;
  line-height: 145%;
}

  .box1 {
    padding: 1%;
  }
  .box1 > i {
    text-align: center;
  }
  .box1 > h3 {
    text-align: center;
  }
  .box1 > p {
    padding: 3px;
    text-align: justify;
  }


.icon-big {
  color: #5d8ddc;
  display: block;
  font-size: 320%;
  margin-bottom: 10px;
}

header {
  background: linear-gradient( to right, rgb(37, 151, 207), rgb(104, 189, 223), rgb(35, 192, 226) );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.navbar {
  padding: 1rem 2rem !important;
  transition: 0.3s ease;
  z-index: 99999;
}

.navbar-brand {
  font-family: 'Crimson Text',serif;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
}

.navbar-brand small {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display:block;
  font-size:15px;
  line-height: 50%;
}

.nav-item a {
  color: white;
  font-size: 0.9rem;
  font-weight: 350;
  margin: 0px 5px;
  letter-spacing: 3px;
  transition: all 0.5s;
}
.nav-link,
.navbar-brand {
  color: white;
}
.nav-link {
  font-size: 1.3rem;
  position: relative;
}
.active {
  position: relative;
  font-weight: bolder;
}
.nav-link:after,
.nav-link:before,
.active:after,
.active:before {
  transition: all 0.5s;
}
.nav-link:after,
.active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: white;
  height: 2px;
}
.active:after {
  width: 100%;
}

.nav-link:hover {
  color: white;
  font-weight: bolder;
}
.active:hover {
  font-weight: 500;
}
.nav-link:hover:after {
  width: 70%;
}
.collapse {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

i.fa {
  color: white;
}
span.navbar-toggler-icon {
  padding: 3px;
}

.navbar button {
  outline: none;
}
.heading {
  font-size: 250%;
  font-weight: 700;
}


/**STICKY NAVIGATION**/

.sticky {
  transition: 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2rem 10px!important;
  width: 100%;
  background-color: #5d8ddc !important;
  box-shadow: 0 1px 3px #5d8ddc;
  z-index: 9999;
  transition: 1s ease-in-out;transition: 1s ease-in-out;
}
.sticky i.fa {
  color: white;
}
.navbar-toggler{
  position: relative;
}

.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
  
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: all .2s;
  display: inline-block; 
}
    
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__icon::before {
  top: -8px; 
}
  
.navigation__icon::after {
  top: 8px; 
}

.navbar-toggler:hover .navigation__icon{
    background-color: rgb(240, 240, 240);
  }
.navbar-toggler:hover .navigation__icon:before {
  background-color: rgb(240, 240, 240); 
}
 

.navbar-toggler:hover .navigation__icon:after {
  background-color: rgb(240, 240, 240); 
}


.navigation__icon.active {
  background-color: transparent !important;
}

.navigation__icon.active::before {
  transform: rotate(135deg);
  top: 0; 
}

.navigation__icon.active::after {
  transform: rotate(-135deg);
  top: 0; 
}
@media (max-width:760px){
  .navbar-brand{
    font-size: 22px;
  }
  .navbar-brand small{
    font-size: 12px;
  }
}

.btn {
  box-shadow: 0px 10px 15px rgb(145, 219, 253);
  background: linear-gradient(
  to bottom right,
  rgb(25, 140, 192),
  rgb(99, 195, 240)
  );
  color: white;
  border-radius: 40px;
  padding: 2% 4%;
  margin-left: 25px;
  margin-top: 25px;
}
.btn:hover {
  background: linear-gradient(
  to bottom right,
  rgb(99, 195, 240),
  rgb(25, 140, 192)
  );
  color: white;
}
.icon {
  color: rgb(70, 247, 70);
}
.right a {
  color: white;
  text-decoration: none;
}
.right p {
  margin-bottom: 8%;
}
.fa-globe,
.fa-phone,
.fa-map-marker,
.fa-envelope {
  color: rgb(70, 247, 70);
  margin-right: 7px;
}
.fa-phone {
  transform: rotate(90deg);
}
.fa-facebook {
  color: white;
  position: absolute;
  z-index: 1000;
}
.header1 {
  font-size: 1.1rem;
}
/* #social i {
  color: white;
  margin: 2%;
  /* background-color: black; */
  
  .popup {
    height: 100vh;
    width: 100%;
    z-index: 5000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .popup.active {
    opacity: 1;
    visibility: visible;
  }
  .popup__content {
    text-align: center;
    padding: 50px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.35);
    transition: all 0.4s 0.2s;
  }
  .popup__content.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  .spinner-border {
    margin-top: 30px;
  }
  
  
  /************Footer*************/
  footer {
    background-color: #5d8edd;
    padding-top: 30px;
    font-size: 80%;
    text-align: center;
  }
  
  .social-links {
    width: 100%;
  }
  footer h3 {
    color: #fff;
    letter-spacing: 5px;
    width: 100%;
    font-size: 2.5rem;
  }
  .social-links li {
    display: inline-block;
    margin: auto 20px;
  }
  
  .social-links li a:link,
  .social-links li a:visited {
    text-decoration: none;
    color: #fff;
    border: 0;
    transition: color 0.3s ease-in;
    font-size: 160%;
  }
  .ion-social-facebook,
  .ion-social-twitter,
  .ion-social-googleplus,
  .ion-social-instagram {
    transition: color 0.3s ease-in;
  }
  .ion-social-facebook:hover {
    color: #3b5998;
    
  }
  .ion-social-twitter:hover {
    color: #00aced;
  }
  .ion-social-googleplus:hover {
    color: #dd4b39;
  }
  .ion-social-instagram:hover {
    color: #517fa4;
  }
  
  footer p {
    text-align: center;
    color: #fff;
    margin: 20px auto;
  }
  
  #background-blue{
    background: linear-gradient(
    to right,
    rgb(37, 151, 207),
    rgb(104, 189, 223),
    rgb(35, 192, 226)
    );
    height: 295px;
    display: flex;
    justify-content: center;
  }
  #background-white{
    height:410px;
  }
  #contact-form{
    height:500px;
    background-color: white;
    width: 1200px;
    margin-top: 40px;
    box-shadow: 0px 0px 60px rgb(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    border-radius: 4px;
  }
  textarea,input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width:90%;
    margin: 0px;
  }
  #drop {
    color: rgb(25, 140, 192);
    margin-top: 25px;
    margin-left: 25px;
  }
  #form{
    width: 55%;
  }
  #info{
    width: 45%;
    background-color: #457B9D;
    height: 100%;
    color:white;
    padding: 30px;
  }
  #info p{
    margin-top: 30px;
  }
  textarea{
    width: 95%;
    resize: none;
    overflow-y: scroll;
  }
  .contact-form-div{
    padding:20px;
    padding-left: 30px;
    padding-bottom: 0px;
    height: 100%;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  @media (min-width:768px){
    ::-webkit-scrollbar {
      width: 8px;
    }
    
    ::-webkit-scrollbar-track {
      background: #bababa;
    }
    
    ::-webkit-scrollbar-thumb {
      background: #5e8ddd;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: #2e8dff;
    }
  }
  
  #contact-form-div-container{
    display: flex; flex-direction: row;width: 100%;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
  }
  table {
    margin: 10px 30px 0px;
    
  }
  
  table,
  table th {
    text-align: left;
  }
  .foot-links
  {
    color: #fff;
    border-right: 1px solid blanchedalmond;
    padding: 0 15px;
  }
  .foot-links1
  {
    color: #fff;
    padding: 0 15px;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  
  /* responsive */
  
  @media only screen and (max-width: 800px) {
    .middle {
      width: 100%;
    }
    .top {
      width: 90%;
    }
  }
  @media screen and (max-width: 600px) {
    .middle {
      height: 100%;
    }
    .top {
      width: 100%;
      display: flex;
      flex-direction: column;
      bottom: 0px;
      text-align: center;
      box-shadow: none;
    }
    
    label {
      margin: 0px;
    }
    .left,
    .right,
    .contact-form {
      width: 100%;
      padding: 5%;
      border-radius: 10px 10px 0 0;
    }
    .foot {
      margin-bottom: -800px;
    }
    .upper {
      padding-top: 13%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .foot-links {
      padding: 0 10px;
    }
    .foot-links1 {
      padding: 0 10px;
    }
    .foot {
      margin-bottom: -700px;
    }
  }
  
  @media only screen and (max-width: 280px) {
    .foot {
      margin-bottom: -550px;
    }
  }
  @media(max-width: 768px){
    #hero-para{margin-bottom: 30px;}
  }
  @media(max-width: 1200px){
    #contact-form{ width: 991px;}
  }
  
  @media(max-width: 991px){
    #contact-form{ width: 768px;}
  }
  @media(max-width: 768px){
    #contact-form{width: 95%;}
    .contact-form-div{width: 100%;}
  }
  @media(max-width:576px){
    #background-blue{height: 300px;} 
    #background-white{height: 550px;} 
    #contact-form{ margin-top:60px;display: flex;flex-direction: column;}
    #form,#info{width: 100%;}
    #contact-form-div-container{margin-top: -40px;}
    #drop{padding-left: 23px;margin-bottom: 40px;}
  }
  @media(max-width:412px){
    #contact-form-div-container{flex-direction: column;} 
    .contact-form-div{padding-top: 0px;padding-bottom: 0px;}
    #background-blue{height: 320px;} 
    #background-white{height: 635px;} 
  }
