@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
/*---Media Queries --*/
@media (max-width: 992px) {
.social a{
  font-size: 4em;
  padding: 2rem;
}

}
@media (max-width: 768px) {
  .carousel-caption{
    top: 20%;
  }
  .carousel-caption h1{
    font-size: 350%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
  }
  .carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
  }
  .social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption{
    top: 15%;
  }
  .social a{
    font-size: 2em;
    padding: .7rem;
  }
.carousel-caption .btn{
  font-size: 90%;
  padding: 4px 8px;
}
}
/* navbar */
.navbar{
  background-color: #008DD5;
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.navbar-brand img{
  height: 50px;
  width: auto;
}
/* Image Slider */
.black-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0,0.7);
}
.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}
.padding{
  padding-bottom: 2rem;
}
/* Welcom text and cards overlay animation*/
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.container{
  margin-top: 12%;
}
.single-content{
  position: relative;
  transition: .3s;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
}
.single-content .text-content,
.single-content:after{
  position: absolute;
  left: 20px;
  right: 20px;
}
.single-content:after{
  content: '';
  display: block;
  background: #008DD5;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1,1,0,100deg);
  transition: .4s;
}
.single-content:hover:after{
  opacity: .9;
  transform: rotate3d(0,0,0,0deg);
}
.single-content img{
  width: 100%;
  height: auto;
}
.text-content{
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%,-30%);
  transition: .3s;
  text-align: center;
  color: #fff;
}
.text-content h4{
  font-family: big john;
}
.single-content:hover .text-content{
  opacity: 1;
  transform: translate(0,-50%);
  transition-delay: .2s;
}


.year {
  display: none; /* Hide all elements by default */
}
/* Clear floats after rows */ 
.photo-gallery:after {
  content: "";
  clear: both;
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
#myBtnContainer .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

#myBtnContainer .btn:hover {
  background-color: #ddd;
}

#myBtnContainer .btn.active {
  background-color: #666;
  color: white;
}

/* lightbox gallery */

.photos div{
  height: 300px;
  padding: 10px;
  box-shadow: 5px 5px 8px #888888;
  margin:10px;
}
.photos div img{
  height: 100%;
  width: 100%;
}

/* Connect */
.social a{
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-instagram{
  color: #517fa4;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover{
  color: #d5d5d5;
}
/* footer */
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
/*---Media Queries --*/
@media (max-width: 992px) {
.social a{
  font-size: 4em;
  padding: 2rem;
}

}
@media (max-width: 768px) {
  .carousel-caption{
    top: 20%;
  }
  .carousel-caption h1{
    font-size: 350%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
  }
  .carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4{
    font-size: 200%;
  }
  .social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption{
    top: 15%;
  }
  .social a{
    font-size: 2em;
    padding: .7rem;
  }
.carousel-caption .btn{
  font-size: 90%;
  padding: 4px 8px;
}
}
/* navbar */
.navbar{
  background-color: #008DD5;
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.navbar-brand img{
  height: 50px;
  width: auto;
}
/* Image Slider */
.black-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0,0.7);
}
.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}
.padding{
  padding-bottom: 2rem;
}
#slides {
  margin-bottom: 20px;
}

/* Welcom text and cards overlay animation*/
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.container{
  margin-top: 12%;
}
.single-content{
  position: relative;
  transition: .3s;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
}
.single-content .text-content,
.single-content:after{
  position: absolute;
  left: 20px;
  right: 20px;
}
.single-content:after{
  content: '';
  display: block;
  background: #008DD5;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1,1,0,100deg);
  transition: .4s;
}
.single-content:hover:after{
  opacity: .9;
  transform: rotate3d(0,0,0,0deg);
}
.single-content img{
  width: 100%;
  height: auto;
}
.text-content{
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%,-30%);
  transition: .3s;
  text-align: center;
  color: #fff;
}
.text-content h4{
  font-family: big john;
}
.single-content:hover .text-content{
  opacity: 1;
  transform: translate(0,-50%);
  transition-delay: .2s;
}
/* Connect */
.social a{
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-instagram{
  color: #517fa4;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover{
  color: #d5d5d5;
}
/* footer */
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
