body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* linear-gradient(
      rgba(57, 99, 184, 0.4) 30%,
      rgba(57, 99, 184, 0.4) 70%,
      rgba(57, 99, 184, 0.2) 100%
    ), */
.contain {
  background-image: linear-gradient(
      rgba(85, 170, 214, 0.65) 30%,
      rgba(85, 170, 214, 0.55) 70%,
      rgba(85, 170, 214, 0.45) 100%
    ),
    url("images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 140vh;
  background-position: top;
  margin-top: -200px;
}
.main-p {
  color: rgb(255, 255, 255);
  margin-top: 1%;
  text-align: center;
}
.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-link,
.navbar-brand {
  color: white;
}
.nav-link {
  font-size: 1.3rem;
  position: relative;
}
.active {
  position: relative;
  font-weight: bolder;
}
.nav-link:after,
.nav-link:before,
.active:after,
.active:before {
  transition: all 0.5s;
}
.nav-link:after,
.active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: white;
  height: 2px;
}
.active:after {
  width: 100%;
}

.nav-link:hover {
  color: white;
  font-weight: bolder;
}
.active:hover {
  font-weight: 500;
}
.nav-link:hover:after {
  width: 100%;
}
.left-icon {
  height: 50px;
  width: 50px;
}
.logo {
  height: 300px;
  width: 400px;
  margin: 320px 37%;
  margin-bottom: 1%;
}
.hero-head {
  text-align: center;
  color: white;
  color: white;
  font-size: 2rem;
}
.large {
  font-weight: bolder;
  font-size: 1.5rem;
}
.small {
  margin-top: -15px;
  font-size: 0.8rem;
}
.fa-chevron-down {
  color: white;
  margin-top: 2.5%;
  margin-left: 49.5%;
  font-size: 2rem;
  animation-name: move 1s infinite alternate;
}
@keyframes move {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.fa-chevron-down {
  margin-top: 2.5%;
  color: floralwhite;
  font-weight: bolder;
  font-size: 2.5rem;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
  cursor: pointer;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
