/*------------------------------------------*/
/* BASIC SETUP */
/*-----------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0;
}
/*------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------------------*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
  border-right: 2px solid lightblue;
}
.box > i {
  text-align: center;
}
.box > h3 {
  text-align: center;
}
.box > p {
  padding: 3px;
	text-align: justify;
}
/*----HEADINGS----*/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  letter-spacing: 1px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
h2::after {
  display: block;
  height: 2px;
  width: 100px;
  content: " ";
  margin: 0 auto;
  background-color: #5d8ddc;
  margin-top: 30px;
}

/*---PARAGRAPHS---*/
.long-copy {
  line-height: 145%;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}
.box1 p {
  font-size: 90%;
  line-height: 145%;
}

  .box1 {
    padding: 1%;
  }
  .box1 > i {
    text-align: center;
  }
  .box1 > h3 {
    text-align: center;
  }
  .box1 > p {
    padding: 3px;
    text-align: justify;
  }

/*---ICONS----*/
.icon-big {
  color: #5d8ddc;
  display: block;
  font-size: 320%;
  margin-bottom: 10px;
}

/*----BUTTONS----*/
.btn {
  margin-bottom: 10px;
}
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 200px;
  font-weight: 300;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  color: #fff;
  margin-right: 15px;
  background-color: #5d8ddc;
  border: 1px solid #5d8ddc;
}
.btn-ghost:link,
.btn-ghost:visited {
  color: #5d8ddc;
  border: 1px solid #5d8ddc;
}
.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #5d93dc;
  cursor: pointer;
}
.btn-full:hover,
.btn-full:active {
  border: 1px solid #5d93dc;
}
.btn-ghost:hover,
.btn-ghost:active {
  color: #fff;
}

/*-------------------------------*/
/*----HEADER----*/
/*------------------------------*/
header {
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(images/back.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.navbar {
  padding: 1rem 2rem !important;
  transition: 0.3s ease;
  z-index: 99999;
}

.logo {
  float: left;
  height: 50px;
  width: auto;
}
.nav-item a {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  margin: 0px 5px;
  letter-spacing: 3px;
  transition: all 0.5s;
}

.collapse {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* .nav-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: 0 auto;
  margin-top: 4px;
  opacity: 0;
  background: #5d8ddc;
} */
.nav-item a:hover {
  color:#5d8ddc;
}
i.fa {
  color: white;
}
span.navbar-toggler-icon {
  padding: 3px;
}

.navbar button {
  outline: none;
}
.heading {
  font-size: 250%;
  font-weight: 350;
}
.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1140px;
  transform: translate(-50%, -50%);
}
/**STICKY NAVIGATION**/

.sticky {
  transition: 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2rem !important;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.95) !important;  */
    background-image: linear-gradient(90deg, #87ABE5ff, #82A8E4ff, #80A6E4ff, #78A0E2ff, #759EE1ff,
   #729CE1ff, #6A96DFff, #6895DEff, #6593DEff, #6291DDff, #608FDDff, #5D8DDCff) !important;

  box-shadow: 0 1px 3px #f0f0f0;
  z-index: 9999;
}
.sticky .logo {
  float: left;
  height: 50px;
  width: auto;
}
.sticky .nav-item a {
  /* color: #5d8ddc; */
  font-weight: 350;
}
.sticky i.fa {
  color: white;
}
.sticky .nav-item a:hover {
  color:black;
}
.navbar-toggler{
  position: relative;
}

.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
  
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: all .2s;
  display: inline-block; 
}
    
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__icon::before {
  top: -8px; 
}
  
.navigation__icon::after {
  top: 8px; 
}

.navbar-toggler:hover .navigation__icon{
    background-color: rgb(240, 240, 240);
  }
.navbar-toggler:hover .navigation__icon:before {
  background-color: rgb(240, 240, 240); 
}
 

.navbar-toggler:hover .navigation__icon:after {
  background-color: rgb(240, 240, 240); 
}


.navigation__icon.active {
  background-color: transparent !important;
}

.navigation__icon.active::before {
  transform: rotate(135deg);
  top: 0; 
}

.navigation__icon.active::after {
  transform: rotate(-135deg);
  top: 0; 
}
/*-------------------------------*/
/*----team----*/
/*------------------------------*/
.section-team {
  padding: 0;
}
.section-team .long-copy {
  line-height: 145%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}
.team-showcase {
  list-style: none;
  width: 100%;
  margin-bottom: 0;
}
.team-showcase li {
  display: block;
  float: left;
  width: 25%;
}
.team-showcase figure {
  margin: 0;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}
.team-showcase img {
  width: 100%;
  opacity: 0.8;
  height: 300px;
  transform: scale(1.15);
  transition: transform 0.5s;
}
.team-showcase img:hover {
  transform: scale(1.03);
  opacity: 1;
}
.mobile-team {
  display: none;
}
.teamImg div {
  text-align: center;
}
.teamImg div img {
  height: 400px;
}
/***EVENTS***/
.section-events {
  background-color: #5d8ddc;
  color: #fff;
  margin: 3% 0 1% 0;
  padding: 100px 0 100px 0;
}
.section-events .icon-small {
  display: block;
  font-size: 200%;
  margin: 0 30%;
  margin-bottom: 10px;
}
.section-events p {
  margin: 0 20%;
}
.section-events h1 {
  font-weight: bold;
  margin: 0 20%;
  font-size: 320%;
}
.events-container {
  text-align: center;
  margin: 0 auto;
}
.events-container div {
  margin-bottom: 60px;
}

.event {
  margin-bottom: 10px;
  cursor: pointer;
}
.event h3 {
  width: 100%;
  text-align: center;
}
.our-event {
  margin-bottom: 50px;
}
.borderdown::after {
  content: "";
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  height: 2px;
  width: 50%;
  background: #5d8ddc;
}

.mam img {
  height: 200px;
  margin: 3%;
}

.carousel-item {
  height: 280px;
}

.d-block {
  background-color: grey;
  height: 250px;
  margin-top: 20px;
}
.slider-icon {
  color: black !important;
}
.past .d-block {
  background-color: skyblue;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/*-------------------------------*/
/*---Footer--*/
/*------------------------------*/

footer {
  background-color: #333;
  padding-top: 30px;
  font-size: 80%;
  text-align: center;
}

.social-links {
  width: 100%;
}
footer h3 {
  color: #fff;
  letter-spacing: 5px;
  width: 100%;
  font-size: 2.5rem;
}
.social-links li {
  display: inline-block;
  margin: auto 20px;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  color: #888;
  border: 0;
  transition: color 0.3s ease-in;
  font-size: 160%;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.3s ease-in;
}
.ion-social-facebook:hover {
  color: #3b5998;
  
}
.ion-social-twitter:hover {
  color: #00aced;
}
.ion-social-googleplus:hover {
  color: #dd4b39;
}
.ion-social-instagram:hover {
  color: #517fa4;
}

footer p {
  text-align: center;
  color: #888;
  margin: 20px auto;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}
.background-container {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 110%;
  transition: all 0.5s;
}
.name-container {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
}
.name-container h2 {
  display: none;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 55%;
}

/*Faculty*/
.faculty{
  margin: 10px 0px;
}
.faculty div img{
  width: 100%;
  box-shadow: 0px 0px 6px .1px;
  border-radius: 50%;
}
.faculty-details{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}
.faculty-details *{
  margin: 2px 0;
}
.faculty-name{
  font-size: 1.5em;
  font-weight: 600;
}
.faculty-intro{
  font-size: 1em;
  font-weight: 300;
}
.faculty-hr{
  border: 0px;
  border-top:1px solid #5d8ddc;
}
/* #faculty {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.faculty_card {
  height: 400px;
  width: 400px;
  margin: 20px auto;
  position: relative;
  background-image:
    url(images/faculty.jpeg);
  background-position: center center;
  background-size: cover;
  color: #fff;
}
@media (min-width: 1040px) {
  #faculty {
    flex-direction: row;
  }
  .faculty_card {
    margin: 20px;
  }
}

.faculty_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.6s;
}
.faculty_name h1 {
  font-size: 30px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.faculty_desig {
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #3ba0fc;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.6s;
}
.faculty_desig h3 {
  margin: 5px;
}
.faculty_card:hover {
  background-image: url(images/faculty.jpeg);
  border-radius: 50px;
}
.faculty_card:hover .faculty_name {
  opacity: 0;
}
.faculty_card:hover .faculty_desig {
  opacity: 1;
} */

.quote {
  font-size: 25px;
  color: black;
  font-weight: 500;
  width: 600px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(100, 93, 93);
  text-align: center;
}
@media (min-width:768px){
 ::-webkit-scrollbar {
	width: 8px;
 }

 ::-webkit-scrollbar-track {
	background: #bababa;
 }

 ::-webkit-scrollbar-thumb {
	background: #5e8ddd;
 }

 ::-webkit-scrollbar-thumb:hover {
	background: #2e8dff;
	}
}
.facultyResult {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightblue;
  cursor: pointer;
  justify-content: space-between;
}

.facultyResult:hover {
  opacity: 0.8;
}

.facultyResult > img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.faculty__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.facultyResult1 {
  display: flex;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightblue;
  cursor: pointer;
  justify-content: space-between;
}

.facultyResult1:hover {
  opacity: 0.8;
}

.facultyResult1 > img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  right: 0;
}

.faculty__info1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}
table {
  margin: 10px 30px 0px;
 
}

table,
table th {
  text-align: left;
}
.foot-links
{
  color: #8ecee6;
  border-right: 1px solid blanchedalmond;
  padding: 0 15px;
}
.foot-links1
{
  color: #8ecee6;
  padding: 0 15px;
}








